body{
    display: flex;
    background-image: url("https://th.bing.com/th/id/OIP.09GqE2-RfX1wFAsyzJXVywHaEK?w=394&h=187&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3") ;
    background-position: Center;
    background-repeat:inherit;
    flex-direction: row;
}

div{
    border: round ;
}

p{
    color: aliceblue;
}

h1{
    color: aliceblue;
}