body {
    background-color: url("https://www.bing.com/ck/a?!&&p=94bb85eaab5390220a1f9e83239c675e60a8c93281ae7caea51a18ac6c8c1f20JmltdHM9MTc2NDYzMzYwMA&ptn=3&ver=2&hsh=4&fclid=32776738-e138-6980-1dfe-7108e0726814&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZStuYmEmaWQ9Mzc1MTE0NjYxODJFODM0OUE0QkFDODFDNTJFMTk5MDUxNDI0M0E5QiZGT1JNPUlBQ0ZJUg&ntb=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

h1{
    background-color: rgb(47, 20, 20) ;
    font-size: large;
    font-weight: bold;
    background-position: center;
    font-size:20px
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    font-weight: bold;
}
@media (max-width: 480px) {
  .container {
    width: 95%;       
    padding: 10px;    
  }
}