body {
    background-color: url("image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

h1{
    background-color: rgb(47, 20, 20) ;
    font-size: large;
    font-weight: bold;
    background-position: center;
    font-size:20px
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    font-weight: bold;
}
@media (max-width: 480px) {
  .container {
    width: 95%;       
    padding: 10px;    
  }
}