<html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Présentation</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

<h1>Présentation des conquérants au Titre .</h1>

<div class="gallery">
    <div class="block">
        <img src="https://st4.depositphotos.com/10629342/20739/i/450/depositphotos_207390418-stock-photo-michael-jordan-hall-fame-player.jpg" alt="Description image 1">
        <p>Michael Jordan: 6bagues ayant eu une caarrière incroyable est considéré comme beaucoup le Goat du fait de la révolution du jeu dans les airs qu'il a apporté  </p>
    </div>
    <div class="block">
        <img src="https://www.bing.com/th/id/OIP.rNtKvhClE4h2P0xWWPSl2QHaE8?w=272&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Description">
        <p>Kobe Bryant: alias black Mamba 5 bagues est pour certains le Goat du fait de sa mentalité de jeu </p>
    </div>
    <div class="block">
        <img src="https://www.bing.com/ck/a?!&&p=88a9ca2a0f40a0e4c6a63995f6b3294db690eacc4b3e4cdb881559dccbab0a3bJmltdHM9MTc2NDYzMzYwMA&ptn=3&ver=2&hsh=4&fclid=32776738-e138-6980-1dfe-7108e0726814&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZStsZWJyb24ramFtZXMmaWQ9RjBBRDA2MzBGQUUzQUZGNjZFRkJBN0NFMTA0RkUyNUQyNDNGRDgxNSZGT1JNPUlBQ0ZJUg&ntb=1" alt="Description">
        <p>Lebron James : Le King , meilleur scoreur de l'histtoire de la ligue , 4bagues est pour beaucoup le choix unanime </p>
    </div>
    <div class="block">
        <img src="https://www.bing.com/ck/a?!&&p=f641dc6dc61d7e1c36becdef6757ab0820cec595b45361455cbc8aaa99b37bcaJmltdHM9MTc2NDYzMzYwMA&ptn=3&ver=2&hsh=4&fclid=32776738-e138-6980-1dfe-7108e0726814&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZStzdGVwaGVuK2N1cnJ5JmlkPUM3NTM1OTExMDQzOTYxNzVERjQ3MjZDMDMxRTJEMjlFQ0Q5MTk5MjEmRk9STT1JQUNGSVI&ntb=1" alt="Description ">
        <p>Stephen curry , "The chef": 4bagues , meilleur shooter de l'histoire de la ligue , 4bagues , seul MVP unanime de l'Histoire a revolutionné le jeu de part ses shoots à 3points stratosphériques .</p>
    </div>
    <div class="block">
        <img src="https://www.bing.com/ck/a?!&&p=9254d6acf458db380a4484c4a8420c2fd0e7e17899a8ac522e337dcb86bcf787JmltdHM9MTc2NDYzMzYwMA&ptn=3&ver=2&hsh=4&fclid=32776738-e138-6980-1dfe-7108e0726814&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZStuaWtvbGEram9raWMmaWQ9MDYwQUYyMzEzQkNFOEYxRUI1RjcxQkM2NDk0M0E4QjAwNThGM0VFMSZGT1JNPUlBQ0ZJUg&ntb=1" alt="Description">
        <p>Nicolas Jokic "the Joker":3fois MVP, une fois champion est le pour certains le Goat des temps modernes de par son IQ et sa façon d'imposer son propre rithme de jeu .  </p>
    </div>
    
</div>

</body>
</html>
</html>